/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.red{
  color: #e35e00;
}
.v-middle{
  vertical-align: middle;
}
/* criamos duas class para associas as msg de erros */
.msg-success{
  background-color: #73c285;
  color: #fff;
}
.msg-error{
  background-color: #e35e00;
  color: #fff;
}